 /* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');  */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');  */
:root{
    /* variables */
    --c6 : #7fb069;
    --c10 : #fffbbd ;
    --c9 :#191919;
    --c8 : #ca3c25 ; 
    --c7 : #b5cbb7 ; 
    --c1 : #eae0cc;
    --c2 : #086788 ;
    --c3 : #e9b44c;
    --c4 : #ca3c25 ;
    --c5 : #50a2a7 ;

}
.animated{
    opacity: 0;
}
img{
    float: left;
}
html{
    scroll-behavior: smooth;
    margin: 0;
}
*{
    margin: 0;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    position: fixed;
    display: flex;
    width:100vw;
    padding: 30px 50px;
    color: var(--c1);
    z-index: 20;
    transition: 1s ;
}
.header--scroll{
    background: var(--c2);
    padding: 15px 50px;
    color:white;
}
.header--scroll a{
    color: white;
}
.logo{
    font-family:montserrat, sans-serif;
}
header .nav{
    width:50%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: quicksand,sans-serif;
    font-size:18px;
    font-weight: bold;
    align-items: center;
}
header .nav__item {
    list-style: none;
    
}
.nav__item:hover{
    text-decoration: underline;
    cursor: pointer;
}
a {
    text-decoration:  none;
    color: white;
}
.slider{
    overflow-x: hidden;
}
.slider__hero__photo:before{
    position: absolute;
    content: "";
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top:0;
    left: 0;
}
.slider__hero{
    width: max-content   ;
    overflow: hidden;
    transition: 1s;
    padding: 0;
}
.slider__hero__photo {
    position: relative;
    float: left;
    padding: 0;
}
.slider__hero__photo img{
    width:100vw;
    height: 100vh;
    object-fit: cover;
}
.slider__hero__text{
    z-index: 2;
    font-size: 40px;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 100px;
    left: 50px;
}
.slider__nav{
    width: 100%;
    height: 20px;
    position:absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__nav__button {
    width: 5px;
    height: 5px;
    margin: 10px 25px;
    background: var(--c1);
    border-radius:100%;
    /* box-shadow: 0 0 10px 0px white; */
}
.slider__nav__button:hover{
    cursor:pointer;
   transform: scale(1.5)
}
.slider__nav__button--active {
    width:10px !important;
    height:10px !important;
}
/* ---------------------------------------------Places to go  */

.placesBox {
    margin:0 ;
    width: 100vw;
    min-height: 100vh ;
    display: flex;
    text-align: left;
    padding: 20px;
    background:white;

}
.placesBox__text{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.placesBox__text__header {
    font-size: 1.3em;
    font-family:montserrat, sans-serif;
    grid-area: h;
    padding: 40px 20px; 
}
.placesBox__text__content{
    font-family:quicksand, sans-serif;
    font-size: 20px ;
    position: relative;
    padding: 40px 20px;
    justify-self: stretch;
    align-self: stretch;
}
/* .placesBox__text__content:after{
    content: "";
    position: absolute;
    top:0 ;
    left: 0;
    background: #2193b0;  /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* clip-path: circle(50% at 50%);
    width: 100% ;
    height: 100%;

} */
.placesBox__cubeContainer{
    align-self: center;
    padding:40px;
    justify-self: center;
}
.cubeContainer__cubeScence{
    perspective: 600px ;
    height:300px;
    width: 300px;

}
.placesBox__cube{
    width: 100%;
    height: 100%;
    margin:0 20px;
    position: relative;
transition: 2s;
    transform-style: preserve-3d;
    box-shadow:   0 0 10px 0 black
}
.cube__face {
    position: absolute;
    width: 300px;
    height:300px;
    transform: translateZ(-150px);
}
.cubeFace--front {background:red ; transform: rotateY(0deg)      translateZ(150px)}
.cubeFace--back  {background: orange; transform: rotateY(180deg) translateZ(150px)}
.cubeFace--right {background: yellow; transform: rotateY(90deg)  translateZ(150px)}
.cubeFace--left  {background: blue; transform: rotateY(-90deg)   translateZ(150px)}
.cubeFace--top   {background: brown; transform: rotateX(90deg)   translateZ(150px)}
.cubeFace--bottom{background: black; transform: rotateX(-90deg)  translateZ(150px)}

.cube--show0{transform:  translateZ(-150px) rotateY(0deg)}
.cube--show1{transform:  translateZ(-150px) rotateY(180deg)}
.cube--show2{transform:  translateZ(-150px) rotateY(-90deg)}
.cube--show3{transform:  translateZ(-150px) rotateY(90deg)}
.cube--show4{transform:  translateZ(-150px) rotateX(-90deg)}
.cube--show5{transform:  translateZ(-150px) rotateX(90deg)}

.cube__face img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.cubeContainer__nav{
    width: 100%;
    height: 20px;
    /* position: absolute; */
    display: flex;
    margin: 100px 0px;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}
.cubeContainer__nav__button {
    width: 5px;
    height: 5px;
    margin: 10px 25px;
    background: #0b3954;
    border-radius:100%;
    /* box-shadow: 0 0 10px 0px white; */
}
.cubeContainer__nav__button:hover{
    cursor:pointer;
   transform: scale(1.5)
}
.cubeContainer__nav__button--active {
    width:10px !important;
    height:10px !important;
}
/* _____________________________________________________________________ */
.blueBar{
    width:100vw;
    background: var(--c4);
    display:grid;
    padding:100px 0;
    align-items: center;
    justify-content: center;
}
.blueBar h1{
    font: 30px montserrat ;
    color: white;
    font-weight: bolder;
}
/* _____________________________________________________________ */
.photoSlider{
    width:100vw;
    height: max-content;
    position: relative;
    display: flex;
    z-index: -2;
    background: var(--c3);
}
 .photoSlider__textBoxContainer{
    float: right;
    position: fixed;
    width:500px;
    height:100vh;
    top:0 ;
    right: 0;
    z-index: -1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s2 .photoSlider__textBoxContainer{
    left:0 !important;
    z-index: -3 !important;
} 
.photoSlider__photos{
    width:max-content;
    display: grid ;
    grid-template-rows: auto ;
}

.s2{
    background: var(--c2) !important;
}
.s2 .photoSlider__photos{
    float:right;
    margin-left: auto;
}
.photoSlider__photos img{
    width: 500px;
    box-shadow: -10px 0 10px 0px rgba(0,0,0,0.2), 10px 0px 10px 0px rgba(0,0,0,0.2);
}

.textBoxContainer__header{
    font: 35px montserrat, sans-serif ;
    color: black;
    font-weight: bolder;
    margin:30px 0;
    display: none;
    position: relative;
}

.textBoxContainer__header:after{
    position: absolute;
    content: "";
    width:calc(100% + 30px) ;
    height:3px;
    background-color: black;
    bottom: -10px;
    left:0 ;
}
.textBoxContainer__textBox{
    font: 20px quicksand, sans-serif ;
    color: black;
    font-weight: bolder;
    margin:50px 0;
    display: none;
}
.s2 .textBoxContainer__header, .s2 .textBoxContainer__textBox{
    color: white;
}
.s2 .textBoxContainer__header:after {
    background: white;
}
.photoSlider__textBoxContainer__content{   
    margin: 100px 50px;
}
.photoBox {
    display:grid;
    justify-content: center;
    align-items: center;
    width:calc(100vw - 500px);
    height: 100vh;
    position: relative;
} 
.slides{
    display: grid;
    align-items: center;
    justify-content: center;
    width:100vw;
    min-height: 100vh;
    background: var(--c1);
}
.slides__container{
    width:100%;
    display: flex;
    justify-content: space-evenly;


}
.slides__textArea{
    max-width: 300px ;
    display: flex;
    flex-direction: column;
    padding: 20px ;
    margin-right: 200px ;
}
.slides__headerText{ 
    font: 45px montserrat;
    font-weight: bolder;
    color: var(--c2);
    margin: 10px;
}
.slides__contentText{
    font: 20px quicksand;
    margin: 10px;
}
.slides__nav{
    margin: 10px;
}
.slides__navButton{
    margin: 10px;
    display: inline-block;
    padding: 10px ;
    border-radius: 100%;
    cursor: pointer ;

}
.slides__navButton:hover {
    background: #bebebe;
}
.slides__photoArea{
    display: grid;
    justify-content: center;
    align-items: center;

}
.slides__photoArea__container{
    display: grid;
    grid-template-columns: 200px 50px 50px 150px 300px;
    grid-template-rows: 30px 100px 250px 100px 30px;
}
.slides__horPhoto{
    grid-area: 2 / 3 / 4 / 6;
    z-index:6;
}
.slides__verPhoto{
    grid-area: 1 / 1 / 5 / 4;
    z-index:7;
}
.slides__horPhoto, .slides__verPhoto {
    display:flex;
    overflow: hidden;
}
.slides__horPhoto:hover, .slides__verPhoto:hover{
    z-index:8;
}
.slides__bgShade {
    grid-area: 3 / 2 / 6 / 5;
    background: #c4beb2 ; 
    z-index:5;
}
.slides__photoArea__container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}